* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cartPage {
  width: 55%;
  margin: 7% auto 5%;
  border: 1px solid #eee;
}
.singleCart {
  padding: 3% 4%;
  display: flex;
  justify-content: space-between;
}
#cartImage {
  width: 120px;
  height: auto;
}
#cartImage img {
  width: 100%;
  height: 100%;
}
.data {
  width: 50%;
}
.data h5 {
  font-size: 18px;
  font-weight: 300;
  margin: 2% 0;
}
.increase {
  margin: 2% 0;
}
.quantity {
  background: linear-gradient(to bottom, #ebe1cd, #ecb936);
  border: 1px solid rgb(224, 178, 91);
  color: rgb(41, 40, 40);
  border-radius: 4px;
  padding: 2%;
  margin: 2%;
  font-size: 10px;
  cursor: pointer;
}
#line {
  width: 90%;
  margin: auto;
}
.amount{
    margin: 4%;
    display: flex;
    justify-content: space-around;
}
.checkout{
  margin-bottom: 5%;
  margin-left: 45%;
  padding: .8% 4%;
  cursor: pointer;
  background: #FFA41C;
  border: 1px solid #FF8F00;
  border-radius: 5px;
 
}

/* EMPTY CART  */
#emptyCart{
    /* background-color: #eee; */
    height: 40vh;
    padding: 15% 0;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: black;
}

@media (max-width:760px){
  .cartPage {
    width: 80%;
    margin: 15% auto 5%;
    
  }
}
