*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    /* height: 8vh; */
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: rgb(7, 7, 7);
    display: flex;
    padding-top: 1%;
    justify-content: space-around;
    align-items: center;
}
.login p{
    color: white;
}
.logo{
    width: 100px;
    height: auto;
}
.logo img{
    width: 100%;
    height: auto;
}
.search{
    width: 40%;
    margin-bottom: .5%;
}
#search{
    width: 70%;
    padding: 1.5% 1%;
    border-radius: 5px 0 0 5px;
    border-right: none;
    display: inline;
}
#search:focus{
    outline: none;
}
.search button {
    padding: 1.5% 2%;
    border: none;
    border-radius: 0 5px 5px 0 ;
    background-color: #febd69;
}
.login a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: .5%;
}
.cartIcon a{
    color: white;
    text-decoration: none;
    position: relative;
}
.cartIcon a span{
    color: #febd69;
    font-weight: 600;
    position: absolute;
    top: -8px;
}

