* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.caraousal {
  width: 100%;
  height: 40vh;
}
.caraousal img {
  width: 100%;
  height: auto;
}
.products {
  background-color: #eee;
  margin-top: 10%;
  text-align: center;
  /* width: 100%; */
}
.singleProduct {
  margin: 1% 0.5% 1%;
  cursor: pointer;
  width: 32%;
  float: left;
  border: 1px solid #eee;
}
.singleProduct:hover {
  border: 1px solid rgb(156, 155, 155);
}
.singleProduct img {
  margin-top: 8px;
  cursor: pointer;
  width: 85%;
  height: 200px;
}
.singleProduct h5 {
  font-size: 20px;
  font-weight: 300;
  padding: 1.6% 0;
}
.singleProduct #price {
  padding: 1.5% 0;
  font-size: 18px;
}
.singleProduct #delievery {
  color: gray;
  font-size: 14px;
  padding: 1.5% 0;
}
.singleProduct button {
  margin: 1.5% 0 3%;
  width: 70%;
  padding: 4% 0;
  background: linear-gradient(to bottom, #ebe1cd, #ecb936);
  border: 1px solid rgb(224, 178, 91);
  color: rgb(41, 40, 40);
  border: none;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width:650px){
  .singleProduct{
    width: 45%;
    margin: 1.5% 2.5% 1.5%;
  }
}
@media (max-width: 420px){
  .singleProduct{
    width: 90%;
    margin: 2.5% 2.5% 1.5%;
  }
}
