*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.proceed{
    margin: 10% 0 0 30%;
}
.proceed h1{
    color: green;
}
@media (max-width:760px){
    .proceed{
        margin: 40% 0 0 10%;
    }

}